/*
* @Author: Administrator
* @Date:   2017-11-23 10:59:46
* @Last Modified by:   Administrator
* @Last Modified time: 2018-04-22 15:48:35
*/

.nav{
	background: #eee;
	height: 30px;
	line-height: 30px;
}
/*用户部分*/
.nav .user{
	float: left;
}
.nav .user .username{
    text-decoration: none;
    color: #c60023;
}
.nav .user.login{
	display: none;
}
.nav .user .link{
	margin-right: 5px;
}
/*导航链接*/
.nav .nav-list{
	float: right;
}
.nav .nav-list .nav-item{
	display: inline-block;
	margin-left: 5px;
}